.contact {
    padding: 2rem;
    text-align: center;
}

.contact a {
    text-decoration: none;
    color: black;
}

.contact div {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    border: 2px solid lightgray;
    border-radius: 1rem;
    max-width: 30rem;
    margin: 2rem auto 0;
}

.contact div * {
    padding: 0.5rem;
}

.icon {
    color: rgb(103, 169, 123);
    font-size: 2.5rem;
}

/* *****************************************************************
VERSION TABLETTE
***************************************************************** */

@media screen and (min-width: 760px) {}


/* *****************************************************************
VERSION DESKTOP
***************************************************************** */

@media screen and (min-width: 1100px) {}