.footer {
    text-align: center;
    font-family: arvo;
    font-size: 1.6rem;
    padding: 2rem;
}

.footer nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.footer a {
    text-decoration: none;
    color: #ecf0f1;
    padding: 0.5rem;
}


/* *****************************************************************
VERSION TABLETTE
***************************************************************** */

@media screen and (min-width: 760px) {
    .footer nav {
        flex-direction: row;
        justify-content: space-around;
    }
}


/* *****************************************************************
VERSION DESKTOP
***************************************************************** */

@media screen and (min-width: 1100px) {
    .footer {
        max-width: 1140px;
        margin: auto;
    }
}