.header {
    display: flex;
    flex-direction: column;
    text-align: center;

    border-bottom: 1px solid grey;
    padding: 5px 0;
}

.header nav {
    display: flex;
    flex-direction: column;
}

.header nav a {
    text-decoration: none;
    font-family: arvo;

    color: rgb(253, 245, 226);
    background-color: rgb(103, 169, 123);

    border-radius: 5px;
    margin: 2px;
    padding: 5px;
}

.header img {
    width: 150px;
    margin: auto;
}